# maven #
target/

# eclipse #
.settings/
.project
.classpath
*.log

# windows #
Thumbs.db

# Mac #
.DS_Store

# Package Files #
*.jar
*.war
*.ear

# idea #
.idea/
*.iml
*.ipr
*.iws

logs/
*.class
*.bak
*.tmp