<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iakuil.dao.UserMapper">

	<select id="selectByCondition" resultType="com.iakuil.dao.entity.User" parameterType="map">
		select
		  id, username, gender, birthday, passwd_hash, tel, avatar, province, nickname, email, address, create_time, update_time
		from t_user
		<where>
			<if test="userId != null"> and id = #{userId} </if>
			<if test="gender != null"> and gender = #{gender} </if>
			<if test="tel != null and tel != ''"> and tel = #{tel} </if>
		</where>
	</select>

	<select id="selectByIdentity" resultType="com.iakuil.dao.entity.User" parameterType="string">
		select * from t_user where id = #{identity} || username = #{identity} || tel = #{identity} || email = #{identity}
	</select>

	<select id="selectByOpenId" resultType="com.iakuil.dao.entity.User" parameterType="string">
		select * from t_user where openid = #{identity}
	</select>

	<update id="deleteOpenId" parameterType="string">
		update t_user set openid = null where tel = #{tel}
	</update>
</mapper>