<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>登录</title>
</head>

<body style="margin-left: 500px">

<form th:action="@{/demo/login}" method="post">
    <span>用户名：<input name="username" type="text" placeholder="userName"></span>
    <br/>
    <span>密  码：<input name="password" type="password" placeholder="Password"></span>
    <br/>
    <span><input type="checkbox" name="rememberMe"/>记住我</span>
    <br/>
    <button type="submit">提交</button>
</form>
</body>
